@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(270, 40%, 16%);
  --foreground: #hsl(0, 0%, 100%);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
